<br>
<h3>Digital coins project</h3>
<p>This project brings a list of all existing digital currencies, allowing access to their value in dollars, euros and
    shekels.</p>
<p> In addition, it is possible to see values of up to five currencies (in dollars) in graphs, which are updated every
    two seconds.</p>
<br>
<hr>
<h5>Write by:</h5>
<div class="row">
    <div class="col-sm-2">
        <p>Ori suliman,</p>
        <p>Jerusalem</p>
    </div>
    <div class="col-sm-2">
        <img src="" alt="" width="500px" height="500px">
    </div>
</div>